extends layout

block content
 h2 #{title}
 p 
  a(href="/") Home
  |  > 
  a(href="/admin/rounds") Rounds
  |  > 
  a(href="/admin/add-round") Add Round
 br
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method='post', action='/admin/add-round')
  .form-group
   label ID
   input.form-control(name='id', type='number', placeholder='Enter ID')
  .form-group
   label Round Name
   input.form-control(name='name', type='text', placeholder='Enter Name')
  .form-group
   label Time Slot - Starting
   input.form-control(name='start_date', type='date', placeholder='Enter Date')
   input.form-control(name='start_time', type='time', placeholder='Enter Time')
  .form-group
   label Time Slot - Ending
   input.form-control(name='end_date', type='date', placeholder='Enter Date')
   input.form-control(name='end_time', type='time', placeholder='Enter Time')

  input.btn.btn-primary(type='submit', name='submit',value='Register')